@use "../../../assets/styles/variables" as *;

.breadcrumb {
  background-color: #e9ecef;
  padding: 1rem;
  margin: 0;

  @media (min-width: 768px) {
    padding: 1rem 0;
  }
}

.item {
  display: inline-block;
  font-size: 14px;
  color: $gray;
}

.item + .item::before {
  content: ">";
  padding: 0 0.5rem;
}

.item.active {
  font-weight: bolder;
}
